@font-face {
  font-family: 'exo';
  src: url("fonts/Exo-Light.ttf"); }
@font-face {
  font-family: 'exobold';
  src: url("fonts/Exo-Medium.ttf"); }
* {
  color: black;
  font-family: 'helvetica'; }

b {
  font-size: 110%; }

div.header-row {
  margin-top: 30px; }

div#topmatter {padding-top:30px; padding-bottom:30px;}
div#header-row {padding-bottom:30px;}
p#about {font-size:2em; margin-top: 20px; margin-left: 30px;}
p#cv {font-size:1.5em; margin-left: 30px;}
div#gallery {padding-bottom:50px;}

img#portrait {
  max-height: 150px; }

img#actionpic {
  max-height: 240px; }

.nav a {
  background-color: #d0d7df; }

.github-icon-svg,
.twitter-icon-svg,
.soundcloud-icon-svg {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  top: 3px; }

.row {
  background-color: white; }

.inner_row {
  background-color: #d0d7df; }

@media screen and (min-width: 680px) {
  .nav * {
    font-size: 1.2em; } }
@media screen and (max-width: 480px) {
  .nav * {
    font-size: 1.0em; } }
