---
layout: default
---

<div class="navigation" active_link="home_link">
</div>

<div class="row well">
	<div class="col-md-5">
		<h3>Research interests</h3> 
    <p>Finite dimensional division algebras and the Brauer group, linear
    algebraic groups, algebraic cycles, and field theory.</p>
    <p>I am particularly interested in the use of techniques and ideas from
    algebraic topology and algebraic geometry to problems in algebra.</p>
    {% for r in site.data.related %}
      <div class="row well">
      <div class="col-md-12">
        <a href="{{ r.url }}"
          >{{ r.title }}</a>
      </div>
      </div>
    {% endfor %}
	</div><!--/col-->

  <div class="col-md-1"></div>

	<div class="col-md-5">
  {% include newposts.html %}
  {% include oldposts.html %}
	</div><!--/col-->
</div><!--/row-->

{% include actionfoot.html %}

</div>
</div>

