---
layout: default
---

<div class="navigation" active_link="home_link"></div>

<div class="row well">
	<div class="col-md-5">
		<h3>Research interests</h3> 
    <p>Finite dimensional division algebras and the Brauer group, linear
    algebraic groups, algebraic cycles, and field theory.</p>
    <p>I am particularly interested in the use of techniques and ideas from
    algebraic topology and algebraic geometry to problems in algebra.</p>

    <br />

    {% for r in site.data.related %}
      <div class="row well">
      <div class="col-md-12">
        <a href="{{ r.url }}"
          >{{ r.title }}</a>
      </div>
      </div>
    {% endfor %}
		<h3>Notifications</h3> 
    <div class="row well">
    <h4>The LAAST Seminar</h4>

    The Late Afternoon Algebraic Structures Tea is an informal
    seminar/meeting to discuss current topics in Algebra, Algebraic
    Geometry, or General Nonsense. Sign up below to make sure to be
    notified when a meeting is announced!

        {% include laast_notification.html %}
        {% include laast_email.html %}
    </div>
    <div class="row well">
    <h4>Don't miss a coffee hour!</h4>

    Coffee hours are an opportunity for informal meetings to talk about
    classes, majors, 
    mathematics, and other things. They are open to my students and
    advisees, and whoever happens to be in the matrix at the time! Lattes
    and snacks are generally featured.

        {% include coffee_hour_notification.html %}
        {% include coffee_hour_email.html %}
    </div>


	</div><!--/col-->

  <div class="col-md-1"></div>

	<div class="col-md-5">
  {% include newposts.html %}
  {% include oldposts.html %}
	</div><!--/col-->
</div><!--/row-->

{% include actionfoot.html %}

</div>
</div>

