---
layout: default
title: teaching
---

<div class="navigation" active_link="teaching_link">
</div>

<div class="row well well-sm">
	<div class="col-md-12">

  {% for c in site.data.metavita_public.courses %}
    <div class="panel panel-primary">

      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="{{ c.url }}">{{ c.title }}</a> ({{ c.semester }})
        </h3>
        </a>
      </div>

      <div class="panel-body">
        {{ c.schedule }}, {{ c.location }}.
        {% if c.schedule2 %}<br>
        {{ c.schedule2}}, {{ c.location2 }}
        {% endif %}
      </div>

    </div>
  {% endfor %}
