---
layout: default
title: teaching
---

<div class="navigation" active_link="teaching_link">
</div>

<div class="row well well-sm">
	<div class="col-md-12">
		<h3> Courses at Rutgers </h3>
  			{% for c in site.data.courses-rutgers %}
				{% include course.html c=c %}
  			{% endfor %}
	</div>
</div>
<div class="row well well-sm">
	<div class="col-md-12">
		<h3> Prior courses at UGA </h3>
  			{% for c in site.data.courses-uga %}
				{% include course.html c=c %}
  			{% endfor %}
	</div>
</div>
