---
layout: default
---
<div class="row well">
<div class="col-md-12">
<ul class="nav nav-pills">
	<li><a href="/">home</a></li>
	<li class="active"><a href="/research/">research</a></li>
		
	<li><a href="https://github.com/{{ site.github_username }}"
	target="_blank">code</a> </li>
<!--		
			
	<li><a href="/teaching/">teaching</a></li>
-->

	<li><a href= "https://www.youtube.com/user/{{ site.youtube_username }}"
	target="_blank">videos</a> </li>
</ul>
</div>
</div>

<div class="row"> <!-- Uber content row -->
<div class="col-md-8"> <!-- left uber content, containing pubs -->
{% for p in site.data.publications %}
<div class="row well well-sm">
	<div class="col-md-9">
	<b>{{p.title}}</b>
	{% if p.by %}
		By {{ p.by }},
	{% endif %}
	{% if p.with %}
		With {{ p.with }},
	{% endif %}
	{{ p.in }}, {{ p.pubinfo }}
	</div>
	<div class="col-md-3">
		{% if p.MR %}
		<a href="http://www.ams.org/mathscinet-getitem?mr={{ p.MR }}">
	    <button type="button" class="btn btn-lnk">MathSciNet</button>
		</a>
		{% endif %}
		{% if p.arxiv %}
		<a href="http://arxiv.org/abs/{{ p.arxiv }}">
    <button type="button" class="btn btn-lnk">arXiv</button>
		</a>
		{% endif %}
	</div>
</div>
{% endfor %}
</div> <!-- end left Uber Content -->

<!-- begin right Uber content: links and stuff -->
<div class="col-md-3 ">

<div class="row">
	<div class="col-md-12">
	<ul>
		<li>
		<a href="http://arxiv.org/a/krashen_d_1"
		>All preprints on the arXiv</a>
		</li>
		<li>
		<a
		href="http://www.ams.org/mathscinet/search/publications.html?pg1=INDI&s1=728218"
		>All publications on MathSciNet</a> (subscription required)
		</li>
	</div><!--/col-->
</div><!--/row-->
</div>
</div>





