
	<div class="row well header-row">

		<div class="col-md-9">
			<h1 > <a href="/">{{ site.title }}</a> </h1>
			<p> {{ site.tagline }} {{ site.description }} </p>
	  {% include navigation.html %}
		</div><!--/col-->


		<div class="col-md-3">
			<a href="http://www.msgphoto.com">
				<img id="portrait" class="img-polaroid img-responsive"
				src= 
				"{{ "/images/maxpicofme.jpg" | prepend: site.baseurl}}" 
				title="photograph courtesy of max gerber"/>
			</a>
		</div><!--/col-->

	</div><!--/row-->

