
	<div class="row well header-row">
	  <div class="row">
		  <div class="col-md-12">
			  <h1 > <a href="/">{{ site.headertext }}</a> </h1>
			  <h4>{{ site.tagline }}</h4>
		  </div>
    </div>
	  <div class="row">
		  <div class="col-md-12">
        <img id="splashpic" class="img-polaroid img-responsive" 
        src= "{{ "/images/splashpic.jpg" | prepend: site.baseurl}}"
        title="unramified H^3"/>
      </div>
    </div>
	  <div class="row" style="padding-top: 15px;">
		  <div class="col-md-12">
        {% include navigation.html %}
      </div>
    </div>
  </div>

