
	<div class="row well header-row">
	  <div class="row">
		  <div class="col-md-2">
        {% include maxpic.html %}
		  </div>
		  <div class="col-md-6">
			  <h1 > <a href="/">{{ site.headertext }}</a> </h1>
			  <h4>{{ site.tagline }}</h4>
		  </div>
		  <div class="col-md-4">
        <a href="http://www.wordle.net/"><img id="splashpic"
        style="width:310px;float:right;margin-right:10px;" class="img-polaroid img-responsive"
        src= "{{ "/images/wordle.jpg" | prepend: site.baseurl}}"
        title="wordle"/></a>
      </div>
    </div>
    {% if page.home %}
	  <div class="row">
    </div>
    {% endif %}

  </div>
