<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- local jQuery -->
	<script src=
	"{{ "/js/jquery-1.11.1.js" | prepend: site.baseurl }}"></script>

    <!-- local Bootstrap -->
	<link href="{{ "/css/bootstrap.css" | prepend: site.baseurl }}"
	rel="stylesheet">


    <!-- My Stuff -->
    <link rel="stylesheet" href=
	"{{ "/css/danny.css" | prepend: site.baseurl }}">
	<script src=
	"{{ "/js/danny.js" | prepend: site.baseurl }}"></script>

  {% include analytics.html %}

</head>
