<ul class="list-unstyled">
{% if site.github_username %}
<li>{% include githubicon.html %}
  <a href="https://github.com/{{ site.github_username }}">
		{{ site.github_username }}@github
	</a>
</li>
{% endif %}
{% if site.twitter_username %}
<li>{% include twittericon.html %}
	<a href="https://twitter.com/{{ site.twitter_username }}">
		{{ site.twitter_username }}@twitter
	</a>
</li>
{% endif %}
{% if site.soundcloud_username %}
<li>{% include soundcloudicon.html %}
	<a href="https://soundcloud.com/{{ site.soundcloud_username }}">
		{{ site.soundcloud_username }}@soundcloud
	</a>
</li>
{% endif %}
</ul>
