<div class="row well">
<div class="col-md-12">
	<ul class="nav nav-pills">
		<li id="home_link"><a href="/">home</a></li>
		<li id="research_link"><a href="/research/">research</a></li>
		<li id="code_link">
			<a href="https://github.com/{{ site.github_username }}"
			target="_blank">code</a> 
		</li>
		<li id="video_link"><a href= 
			"https://www.youtube.com/user/{{ site.youtube_username }}"
			target="_blank">videos</a> 
		</li>
		<!-- <li><a href="/teaching/">teaching</a></li> -->
	</ul>
</div>
</div>

